#root, html, body {
    height: 100vh;
   padding-left: 10px;
   padding-right: 10px;

}

body {
    margin: 0;
    background-color: whitesmoke;
   
}

*{
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
}
